<template name='nonWarehouseOrders'>
  <div class="container-fluid">
    <div class='row text-center'>
      <h2><strong>Orders with no items to be picked in Warehouse</strong></h2>
    </div>
    <table class="table table-hover">
      <thead>
        <th>#</th>
        <th>Activity Date</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Shipping Address</th>
      </thead>
      <tbody>
        {{#each nonWarehouseOrders }}
          <tr>
            <td><a href="{{pathFor 'orderDetails' _id=_id}}"><strong>{{shopifyOrderNumber}}</strong></a></td>
            <td>{{formattedDate startTime}}</td>
            <td>{{billingName}}</td>
            <td>{{billingPhone}}</td>
            <td>{{email}}</td>
            <td>{{shippingAddress}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
