<template name='infoMissing'>
  {{> afNavbar}}
  <div class='container-fluid'>
    <div class='row text-center'>
      <h2>Orders with Missing Information that require Customer Contact: {{orderIssues.count}}</h2>
    </div>
    {{#if orderIssues.any}}
      <hr>
      {{#if anyImpossibleDates}}
        <div class='row text-center'>
          <h3><strong>Orders with Dates that are impossible to arrive by First Ski Day</strong></h3>
        </div>
        {{#each impossibleDates}}
          <div class='row'>
            {{> csDetails}}
            <div class='col-xs-2'>
              <div class='picker' id='{{_id}}'>
                <div class='input-daterange input-group' id='datepicker'>
                  <input type='text' class='input-sm form-control' name='start' />
                  <span class='input-group-addon'>to</span>
                  <input type='text' class='input-sm form-control' name='end' />
                </div>
                <button class='btn btn-block btn-primary update-rental-dates'>Save Dates</button>
              </div>
              <div>
                <a class='btn btn-block btn-primary btn-danger cancel-order' href="#">Cancel Order</a>
              </div>
            </div>
          </div>
        {{/each}}
        <hr>
      {{/if}}
      {{#if anyMissingRentalDates}}
        <div class='row text-center'>
          <h3><strong>Orders with Missing Rental Dates</strong></h3>
        </div>
        {{#each missingRentalDates}}
          <div class='row'>
            {{> csDetails}}
            <div class='col-xs-2'>
            <div class='text-center'>
              <strong>Select Trips Start Date and End Date</strong>
              <br>
            </div>
              <div class='picker' id='{{_id}}'>
                <div class='input-daterange input-group' id='datepicker'>
                  <input type='text' class='input-sm form-control' name='start' />
                  <span class='input-group-addon'>to</span>
                  <input type='text' class='input-sm form-control' name='end' />
                </div>
                <button class='btn btn-block btn-primary update-rental-dates'>Save Dates</button>
              </div>
            </div>
          </div>
          <hr>
        {{/each}}
      {{/if}}
      {{#if anyMissingItemsFromOrder}}
        <div class='row text-center'>
          <h3><strong>Orders with Missing Item Details</strong></h3>
        </div>
        {{#each missingItemsFromOrder}}
          <div class='row'>
            {{> csDetails}}
            <div class='col-xs-2'>
              <a class='btn btn-lg btn-info' href="{{pathFor 'updateOrder' orderNumber=this._id}}">Go to Order Update</a>
            </div>
          </div>
          <hr>
        {{/each}}
        <hr>
      {{/if}}
      {{#if anyMissingBundleInfo}}
        <div class='row text-center'>
          <h3><strong>Orders containing Bundles with Missing Colors</strong></h3>
          <p class='text-danger'>These Orders came in with a color, so it was automaticlly assigned, please contact customer and confirm</p>
        </div>
        {{#each missingBundleInfo}}
          <div class='row'>
            {{> csDetails}}
          </div>
          <hr>
        {{/each}}
      {{/if}}
    {{else}}
      <h1>No Current Orders Need Resolution! :)</h1>
    {{/if}}
  </div>
</template>

<!-- <template name='csDetails'>
  <div class='col-xs-2 col-xs-offset-1'>
  <strong>Order Info</strong>
  <p>Reaction Order: {{_id}}</p>
  <p>Shopify Order: {{shopifyOrderNumber}}</p>
  <p>{{createdAt}}</p>
  </div>
  <div class='col-xs-2'>
    <strong>Billing Contact Info</strong>
    <p>{{billingName this}}</p>
    <p>{{billingPhone this}}</p>
    <p>{{email this}}</p>
  </div>
  <div class='col-xs-2'>
    <strong>Shipping Contact Info</strong>
    <p>{{shippingName this}}</p>
    <p>{{shippingPhone this}}</p>
    <p>{{email this}}</p>
  </div>
  <div class='col-xs-2'>
    <strong>Shipping Location</strong>
    {{{shippingAddress this}}}
  </div>
</template> -->
