<template name='missingBundleColors'>
  {{> afNavbar}}
  <div class='row text-center'>
    <h2><strong>Orders containing Bundles with Missing Colors</strong></h2>
    <p class='text-danger'>These Orders came in with a color, so it was automaticlly assigned, please contact customer and confirm or update bundle color</p>
  </div>
  {{#each missingBundleInfo}}
    <div class='row'>
      {{> csDetails}}
      <div class='col-xs-2'>
        <a class='btn btn-lg btn-block btn-info' href="{{pathFor 'updateOrder' orderNumber=this._id}}">Go to Order Update</a>
        <br>
        <a  class='btn btn-success btn-block btn-lg confirm-bundle' href="#">Confirm Bundle Color Selection</a>
      </div>
    </div>
    <hr>
  {{/each}}
</template>
