<template name='impossibleDates'>
  {{> afNavbar}}
    <div class='row text-center'>
      <h2><strong>Orders with Dates that are impossible to arrive by First Ski Day</strong></h2>
    </div>
    {{#each impossibleDates}}
      <div class='row'>
        {{> csDetails}}
        <div class='col-xs-2'>
          <div class='picker' id='{{_id}}'>
            <div class='input-daterange input-group' id='datepicker'>
              <input type='text' class='input-sm form-control' name='start' />
              <span class='input-group-addon'>to</span>
              <input type='text' class='input-sm form-control' name='end' />
            </div>
            <button class='btn btn-block btn-primary update-rental-dates'>Update First/Last Ski Date</button>
          </div>
          <div>
            <a class='btn btn-block btn-primary btn-danger cancel-order' href="#">Cancel Order</a>
          </div>
        </div>
      </div>
      <hr>
    {{/each}}
</template>
