<template name='orderDetails'>
  <div class='container-fluid'>
    <div>
    {{#if readyForAssignment}}
      <a class='btn btn-block btn-primary advanceOrder' data-status='{{status}}' href='#'>Assign {{currentUser.username}} to move order to: {{nextStatus}}</a>
     {{/if}}
    </div>

    <div class='row'>
      <div class='col-sm-7'>
        <h1>Order # {{_id}}</h1>
      </div>
      <div class='col-sm-5'>
        <h1>Status: {{status}}</h1>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-7'>
        <h3>Ship: {{shippingDate}}</h3>
      </div>
      <div class='col-sm-5'>
        <h3>Return: {{returnDate}}</h3>
      </div>
    </div>
    <hr>
    <div class='row'>
      <div class='col-sm-5'>
        <p><strong>Shipping Address:</strong></p>
        <p>{{shippingTo}}</p>
        <p>{{shippingAddress1}}</p>
        <p>{{shippingAddress2}}</p>
        <p>{{city}} {{state}}, {{zipcode}}</p>
      </div>
      <div class='col-sm-5 col-sm-offset-2'>
        <div id='barcode'></div>
      </div>
    </div>
    <hr>
    {{> itemDetails}}
  </div>
</template>

