<template name='advancedFulfillment.picker.search'>
  {{> afNavbar}}
  <div class="container hidden-xs hidden-sm">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <form role="search" id="pickerSearch">
          <div class="form-group">
            <input type="number" class="form-control input-lg" name="query" placeholder="Search by Order Number/Id">
          </div>
          <button type="submit" id='pickerSearchSubmit' class="btn btn-lg btn-success btn-block">Submit</button>
        </form>
      </div>
    </div>
  </div>
</template>
