<template name='localDeliveryLabelPDF'>
  <head>
    <style type='text/css'>

      #non-printable {
        padding: 20px 0;
      }

      @media print {
        #non-printable {
          display: none;
        }

        @page {
          size: 95mm 147mm;
          margin: 5mm;
        }

        body {
          margin: 0;
          padding 0 !important;

        }

        .container {
          width: auto;
          min-width: 95mm;
        }

        img {
          max-width: 85mm;
        }
      }
    </style>
  </head>
  <body>
    <div class='container'>

      <div class='row text-center'>
        <div class='row' id='non-printable' >
          <div class='col-md-6 col-md-offset-3'>
            <a href='javascript:window.print()' style='text-align: center;'><button type='button' class='btn btn-info btn-lg btn-block'>Print</button></a>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class="col-xs-12">
          <img class='img-responsive' src="/custom/images/go-logo-1000.png">
        </div>
      </div>
      {{#with order}}
        <div class='row'>
          <div class='col-xs-12'><h1>Order #  {{displayOrderNumber}}</h1></div>
        </div>
        {{#if hasNoRentals }}
          <div class='row'>
            <div  class='col-xs-12'>
              <h3><strong>Ship By: {{dateHelper advancedFulfillment.shipmentDate}}</strong></h3>
            </div>
          </div>
        {{else}}
          <div class='row'>
            <div  class='col-xs-12'>
              <h3><strong>Deliver By: {{dateHelper advancedFulfillment.arriveBy}}</strong></h3>
            </div>
          </div>
        {{/if}}
        <div class='row'>
          <div class='col-xs-12'>
            {{#with shippingAddress}}
              <h4><strong>{{fullName}}</strong></h4>
              <h4><strong>{{address1}} {{#if address2}}{{address2}}{{/if}}</strong></h4>
              <h4><strong>{{city}}, {{region}} {{postal}} {{country}}</strong></h4>
              <hr>
            {{/with}}
              <h4><strong>Primary #{{shippingPhone}} | Billing #{{billingPhone}}</strong></h4>

          </div>
        </div>
      {{/with}}
    </div>
  </body>
</template>
