<template name="fulfillmentOrders">
{{> afNavbar}}
  <div class='container'>
    <div class='col-md-9 col-sm-12'>
      <h1>{{routeStatus}}</h1>
    </div>
    <div class="col-md-3 col-sm-12">
      {{#if showPrintOrdersLink}}
        <a class='btn btn-block btn-lg btn-info print-invoice' target='_blank' href="{{pathFor 'orders.printAllForDate' date=shippingDate }}">Print Todays Invoices</a>
      {{/if}}
    </div>
  </div>
    {{#each orders}}
      {{> fulfillmentOrder}}
    {{/each}}
</template>

<template name='fulfillmentOrder'>
  <br /><br />
  <a href="{{pathFor 'orderDetails' _id=this._id}}">
    <div>
      <div class="row orderBox">
        <div class='col-sm-6'>
          <h3><strong>{{orderNumber}}</strong></h3>
        </div>
        <div class='col-sm-6'>
          {{#if toBeShipped}}
            <h4>Date Shipping: <strong>{{shippingDate}} </strong></h4>
          {{else}}
            <h4>Date Returning: <strong>{{returningDate}} </strong></h4>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class='col-sm-6 {{status}}'>
          Current Status: <strong class='{{status}}'>{{status}}</strong><br />
          Assigned User: {{currentlyAssignedUser}}
        </div>
        <div class='col-sm-6'>
          OrderId: {{_id}}<br />
          Contact Info: {{contactInfo}} | {{phoneNumber}}
        </div>
      </div>
      <!-- <div class='row'>
        <div class='col-sm-6'>
          Number of  Different Items in Order {{uniqueItemsCount}}
        </div>
        <div class='col-sm-6'>
          Number of a-la-carte Items in Order {{totalItemsCount}}
        </div>
      </div> -->

<!--       {{readyForAssignment}}
 -->      {{#if readyForAssignment}}
        <div class="row">
          <div class='col-xs-12 col-sm-6'>
            <a class='btn btn-lg btn-block btn-default advanceOrder' data-status='{{status}}' href='#'>Add to my {{nextStatus}} queue and go</a>
          </div>
          <div class='col-xs-12 col-sm-6'>
            <a class='btn btn-lg btn-block btn-success selfAssignOrder' data-status='{{status}}' href='#'>Add to my {{nextStatus}} queue</a>
          </div>
        </div>
      {{else}}
        <div class='row'>
          <div class='col-xs-12'>
            {{#if isMyOrder}}
              <button class='btn btn-lg btn-block btn-info viewOrder' data-status='{{status}}'>Work on Order</button>
            {{else}}
              <button class='btn btn-lg btn-block btn-default viewOrder' data-status='{{status}}'>View Order</button>
            {{/if}}
          </div>
        </div>
      {{/if}}
    </div>
  </a>
    {{#if orderCreated}}
      <br>
      {{> printInvoice}}
    {{/if}}
    <hr>
</template>


