<template name="fulfillmentOrders">
{{> afNavbar}}
  <div class='container'>
    <div class='col-md-9 col-sm-12'>
      <h1>{{routeStatus}}</h1>
    </div>
    <div class="col-md-3 col-sm-12">
      {{#if showPrintOrdersLink}}
        <a class='btn btn-block btn-lg btn-info print-invoice' target='_blank' href="{{pathFor 'orders.printAllForDate' date=shippingDate }}">Print Invoices</a>
      {{/if}}
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><input type="checkbox" name="allOrders" id="checkboxAllOrders"></th>
        <th>#</th>
        <th><i class='fa fa-truck'></i></th>
        <th>Ship By</th>
        <th>Arrival Day</th>
        <th>First Ski Day</th>
        <th><i class="fa fa-map-marker"></i></th>
        <th>Status</th>
        <th>Current User</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
        {{> fulfillmentOrder}}
      {{/each}}
    </tbody>
  </table>
</template>

<template name='fulfillmentOrder'>
  <tr class="orderRow" style="cursor: pointer;" data-id='{{_id}}'>
    <td><input type="checkbox" name="order_{{_id}}" id="checkboxOrder_{{_id}}" data-id={{_id}} checked={{orderSelected}}></td>
    <td><strong>{{orderNumber}}</strong></td>
    <td>
      {{#if this.advancedFulfillment.localDelivery}}
        <span class="label label-info">LOCAL</span>
      {{/if}}
      {{#if this.advancedFulfillment.rushDelivery}}
        <span class="label label-warning">RUSH</span>
      {{/if}}
    </td>
    {{#if startTime}}
      <td>{{shippingDate}}</td>
      <td>{{arrivalDay}}</td>
      <td>{{firstSkiDay}}</td>
    {{else}}
      <td colspan=3>First Ski Day Missing!</td>
    {{/if}}
    <td>{{shippingState}}</td>
    <td>{{status}}</td>
    {{#if readyForAssignment }}
      <td><a class='btn btn-lg btn-block btn-default advanceOrder' data-status='{{status}}' href='#'>Get Order</a></td>
    {{else}}
      <td>{{currentlyAssignedUser}}</td>
    {{/if}}
  </tr>
</template>
