<template name="fulfillmentOrders">
{{> afNavbar}}
  <div class='container'>
    <h1>Orders Waiting to Be {{routeStatus}}</h1>
  </div>
  <div class='container'>
      {{#each orders}}
        {{> fulfillmentOrder}}
      {{/each}}
  </div>
</template>

<template name='fulfillmentOrder'>
  <a href="{{pathFor 'orderDetails' _id=this._id}}">
    <div>
      <div class="row orderBox">
        <div class='col-sm-6'>
          <h3>Order: {{_id}} </h3>
        </div>
        <div class='col-sm-6'>
          {{#if toBeShipped}}
            <h3>Date Shipping: <strong>{{shippingDate}} </strong></h3>
          {{else}}
            <h3>Date Returning: <strong>{{returningDate}} </strong></h3>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class='col-sm-6 {{status}}'>
          Current Status: <strong class='{{status}}'>{{status}}</strong>
        </div>
        <div class='col-sm-6'>
          Contact Info: {{contactInfo}} | {{phoneNumber}}
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-6'>
          Number of  Different Items in Order {{uniqueItemsCount}}
        </div>
        <div class='col-sm-6'>
          Number of Indvidual Items in Order {{totalItemsCount}}
        </div>
      </div>
      {{#if readyForAssignment}}
        <div class="row">
          <div class='col-sm-12'>
            <a class='btn btn-block btn-default advanceOrder' data-status='{{status}}' href='#'>Assign {{currentUser.username}} to advance order to: {{nextStatus}}</a>
          </div>
        </div>
      {{else}}
        <div class='row text-center'>
          <p class='bg-success'> {{status}} assigned to: <strong>{{currentlyAssignedUser}}</strong> at {{currentlyAssignedTime}}</p>
        </div>
      {{/if}}
      <hr>
    </div>
  </a>
</template>
