<template name='advancedFulfillmentSettings'>
  <div class="panel-body">
    {{#autoForm
        collection="ReactionCore.Collections.Packages"
        schema="ReactionCore.Schemas.AdvancedFulfillmentPackageConfig"
        doc=packageData
        type="update"
        id="advanced-fulfillment-update-form"
        }}

    <p>Advanced Fulfillment Buffer Setup</p>
    {{>afQuickField  name='settings.buffer.shipping'}}
    {{>afQuickField  name='settings.buffer.returning'}}

    <br />
    <p>Fedex Account Setup</p>
    {{>afQuickField  name='settings.fedex.liveApi'}}
    {{>afQuickField  name='settings.fedex.password'}}
    {{>afQuickField  name='settings.fedex.key'}}
    {{>afQuickField  name='settings.fedex.accountNumber'}}
    {{>afQuickField  name='settings.fedex.meterNumber'}}
    <br />
    <button type="submit" class="btn btn-primary pull-right">Save Changes</button>
      {{/autoForm}}
  </div>
</template>
