<template name='updateOrder'>
  {{> afNavbar}}
  <div class='container-fluid'>
    <div class='row text-center'>
      <h1>Order Number {{_id}} | Shopify Order {{shopifyOrderNumber}}</h1>
      <h3>Order Details:</h3>
      <div class='row'>
        <div class='col-xs-6'>
          <p>Shipping Date: {{advancedFulfillment.shipmentDate}}</p>
        </div>
        <div class='col-xs-6'>
          <p>Return Date: {{advancedFulfillment.returnDate}}</p>
        </div>
      </div>
    </div>
    <div class='row'>
      <h3>Items in this Order:</h3>
      <div class='table-responsive'>
        <table class='table table-hover'>
          <thead>
            <tr>
              <th></th>
              <th>Description</th>
              <th>Color</th>
              <th>Size</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each item in advancedFulfillment.items}}
              {{#if colorAndSize item}}
                <tr>
                  <td><a class='btn btn-sm btn-warning' href="{{pathFor 'updateOrderItem' orderNumber=this._id itemId=item._id}}">Edit this Item</a></td>
                  <td>{{item.itemDescription}}</td>
                  <td>{{color item}}</td>
                  <td>{{size item}}</td>
                  <td></td>
                </tr>
              {{else}}
                <tr class='danger'>
                  <td><a class='btn btn-sm btn-danger' href="{{pathFor 'updateOrderItem' orderNumber=this._id itemId=item._id}}">Edit this Item</a></td>
                  <td>{{item.itemDescription}}</td>
                  <td>
                    <select id='color-selector-{{item._id}}' data-id='{{item._id}}' class='form-control color-selector'>
                      <option disabled selected> -- select a color -- </option>
                      {{#each possibleColor in colorOptions item}}
                        <option class="form-control" value="{{possibleColor}}">{{possibleColor}}</option>
                      {{/each}}
                    </select>
                  </td>
                  <td>
                    {{#if readyToSelectSize item}}
                      <select id='size-selector-{{item._id}}' data-id='{{item._id}}' class='form-control size-selector'>
                        <option disabled selected> -- select a size -- </option>
                        {{#each possibleSize in sizeOptions item}}
                          <option class='form-control' value={{possibleSize._id}}>{{possibleSize.size}}</option>
                        {{/each}}
                      </select>
                    {{/if}}
                  </td>
                  <td>
                    {{#if sizeAndColorSelected item}}
                      <a class='btn btn-success save-item' data-id='{{item._id}}' data-product-id='{{item.productId}}' href='#'>Save</a>
                    {{/if}}
                  </td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class='container'>
      <a class='btn btn-lg btn-success btn-block' href='#'>Add an item to this order</a>
    </div>
  </div>
</template>
